@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.display-4 {
	font-size: 3rem;
}

body {
	font-family: 'Roboto', sans-serif !important;
}



ul {
	list-style-position: inside;
}

button {
	border-style: none;
}

button:focus,
button:active {
	outline: none;
}

input.form-control {
	border-radius: 4px;
	border: 1px solid #ccc;
}

input.form-control:focus,
input.form-control:active {
	outline: none;
	border-color: transparent;
	box-shadow: none;
}

#start-free-trial {
	width: 100%;
	/* height: 80vh; */
	padding: 3rem 2rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	font-weight: 300;
	/* background-color: rgb(193, 214, 226); */
}

#start-free-trial h2 {
	font-size: 2.5rem;
	width: 100%;
	font-weight: 300;
	text-align: center;
	margin-bottom: 4rem;
}

#start-free-trial > img {
	width: 40%;
	height: auto;
}

#start-free-trial .trial-content {
	width: 40%;
	color: #000000;
	padding-top: 1rem;
	font-size: 1.3rem;
}

.trial-content h3 {
	font-weight: 300;
	font-size: 2.2rem;
}

.trial-content button {
	padding: 0.5rem 2rem;
	border-radius: 4px;
	border: 1px solid #ff8021;
	background-color: #ff8021;
	color: #fff;
	font-size: 1.2rem;
}

.trial-content ul {
	list-style-type: none;
}

.trial-content ul img {
	width: 20px;
	height: 20px;
}

/* Meritnation Carousel Starts*/

.merit-carousel {
	display: flex;
	padding-bottom: 3rem;
	margin-top: 2rem;
}

.merit-carousel .ratings {
	width: 40%;
	background-color: #4d4642;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.merit-carousel .ratings h2 {
	color: #fff;
	text-align: center;
	padding: 0 1rem;
	margin-bottom: 2rem;
}

.merit-carousel .ratings img {
	width: 100%;
}

.testimonials-data {
	position: relative;
	width: 60%;
	padding: 2rem 0rem;
	height: 550px;
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.71)),
		url('../images/clients_image.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	/* overflow: hidden; */
}

.merit-carousel h1,
.merit-carousel h3 {
	text-align: center;
	color: #eee;
}

.merit-carousel h3 {
	margin-bottom: 2rem;
}

.carousel {
	width: 90%;
	height: 340px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform-style: preserve-3d;
}

.carousel-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	padding: 1rem 2rem;
	top: 0;
	z-index: 10;
	transition: all 0.5s;
	color: #eee;
}

.carousel-content p::before {
	content: '';
	display: inline-block;
	margin-right: 10px;
	width: 26px;
	height: 26px;
	background-image: url('../images/left-quotes.png');
	background-position: top;
	background-size: cover;
}

.carousel-content p {
	text-align: center;
	width: 60%;
	font-weight: 300;
	margin: 1rem auto;
	/* margin-bottom: 14px; */
	line-height: 24px;
	word-spacing: 4px;
	font-size: 18px;
	color: #ddd;
}

.carousel-content small {
	float: right;
}

.carousel-content p::after {
	content: '';
	display: inline-block;
	margin-left: 10px;
	width: 26px;
	height: 26px;
	background-image: url('../images/right-quotes.png');
	background-position: bottom;
	background-size: cover;
}

.carousel-content.active {
	opacity: 1;
	z-index: 11;
}

.carousel-content.prev {
	transform: translateX(-100%);
}
.carousel-content.next {
	transform: translateX(100%);
}

.prev-slide-btn,
.next-slide-btn {
	position: absolute;
	display: block;
	width: 28px;
	height: 75px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 12;
	cursor: pointer;
}

.prev-slide-btn {
	left: 10px;
}
.prev-slide-btn::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 3px;
	height: 42px;
	background: #fff;
	transform: rotate(32deg);
	margin-left: 12px;
	transition: all 0.5s;
}
.prev-slide-btn::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 3px;
	height: 42px;
	background: #fff;
	transform: rotate(-32deg);
	margin-top: 35px;
	margin-left: 12px;
	transition: all 0.5s;
}

.next-slide-btn {
	right: 10px;
}
.next-slide-btn::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 3px;
	height: 42px;
	background: #fff;
	transform: rotate(-32deg);
	margin-left: 12px;
	transition: all 0.5s;
}
.next-slide-btn::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 3px;
	height: 42px;
	background: #fff;
	transform: rotate(32deg);
	margin-top: 35px;
	margin-left: 12px;
	transition: all 0.5s;
}

.prev-slide-btn:hover:before,
.next-slide-btn:hover:after {
	transform: rotate(212deg);
}
.prev-slide-btn:hover:after,
.next-slide-btn:hover:before {
	transform: rotate(148deg);
}

.carousel-dots-list {
	text-align: center;
	/* margin-bottom: 0; */
	margin-top: 1rem;
}

.carousel-dots-list li {
	display: inline-block;
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ccc;
	cursor: pointer;
}

.carousel-dots-list li.active {
	background-color: #fff;
}

/* Meritnation Carousel ends */

#reviews-section {
	padding: 2rem 1rem 4rem 1rem;
	/* background: #ccc; */
}

#reviews-section h1,
#reviews-section h3 {
	margin: 1rem 0rem;
	text-align: center;
	font-size: 2.2rem;
	font-weight: 300;
}

#reviews-section h3 {
	font-size: 1.5rem;
}

#reviews {
	overflow: auto;
	/* Hide scrollbar for Chrome, Safari and Opera */
	/* Hide scrollbar for IE */
	-ms-overflow-style: none;
	white-space: nowrap;
	margin: 3rem 0rem;
	padding: 0 3rem 0 2rem;
}

#reviews::-webkit-scrollbar {
	display: none;
}

#reviews .stars {
	text-align: center;
	padding: 1rem;
}

#reviews .stars img {
	width: 16px;
	height: 16px;
}

#reviews .review-box {
	white-space: normal;
	display: inline-block;
	background-color: #f4f4f4;
	border-radius: 1rem;
	width: 90%;
	max-width: 30rem;
	margin-left: 1rem;
}

#reviews .review-box blockquote {
	padding: 1rem;
}

.styling-image {
	width: 100%;
	height: 180px;
	background-image: url('../images/footer.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#footer-section {
	background-color: #ff8021;
}

#footer-section .home {
	padding: 1rem 3rem;
}

.footer-content {
	background-color: #ff8021;
	padding: 1rem;
}

#footer-section h5 {
	color: white;
	font-weight: 400;
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.footer-content .all-links a {
	display: block;
	color: #fff;
	font-weight: 300;
	font-size: 1rem;
	margin-bottom: 12px;
	transition: all 0.2s ease;
}

#footer-section a:hover {
	text-decoration: none;
	color: #fff;
}

#footer-section .all-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0 1rem;
}

#footer-section .all-links > div {
	padding: 1rem;
	/* margin-right: 1rem; */
}

#footer-section .home {
	background-color: #ff8021;
}

#footer-section .home a {
	display: inline-block;
	margin-top: 0;
}

#footer-section .home a img {
	width: 180px;
}

.all-links .contact-us img {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	padding-right: 5px;
}

.contact {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

#footer-section form {
	/* margin-top: 1rem; */
	width: 320px;
}

#footer-section form input,
#footer-section form textarea,
#footer-section form button {
	margin-bottom: 10px;
}

#footer-section form button {
	padding: 5px 16px;
	color: #ffffff;
	border: 1px solid #a52a2a9e;
	background-color: #a52a2a9e;
	border-radius: 1rem;
}

#footer-section form button:hover {
	background-color: #bb30309e;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

#footer-section hr {
	border-color: #fff;
	margin: 1rem;
}

#footer-section .footer-links {
	padding: 0rem 1rem;
	display: flex;
	justify-content: space-around;
}

.footer-links > div {
	padding: 0rem 1rem;
}

.footer-links .social-media h5 {
	text-align: center;
}

.footer-links .social-media a {
	display: inline-block;
	margin: 0px 12px 12px 12px;
}

.footer-links .social-media img {
	width: 36px;
	height: 36px;
}

.copyright {
	background-color: #ff8021;
}

.copyright p {
	color: white;
	text-align: center;
	margin-bottom: 0;
	padding: 10px;
}

.copyright p:first-of-type {
	padding-bottom: 10px;
	font-weight: 500;
}

@media (max-width: 1200px) {
	.styling-image {
		height: 110px;
	}
}

@media (max-width: 992px) {
	.carousel-content p {
		width: 80%;
		font-size: 1.2rem;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 15px;
	}

	#start-free-trial {
		flex-direction: column;
		align-items: center;
	}

	#start-free-trial .trial-content {
		width: 100%;
		text-align: center;
	}

	.merit-carousel {
		flex-direction: column;
	}

	.merit-carousel .ratings,
	.merit-carousel .testimonials-data {
		width: 100%;
	}

	.merit-carousel .ratings {
		height: auto;
	}

	.merit-carousel .ratings img {
		width: 80%;
	}
}

@media (max-width: 576px) {
	html {
		font-size: 14px;
	}

	#start-free-trial h2 {
		margin-bottom: 2rem;
	}

	#start-free-trial .trial-content {
		/* font-size: 1rem; */
	}

	#start-free-trial h3 {
		font-size: 2rem;
	}

	.carousel-content p {
		width: 100%;
		font-size: 1rem;
		text-align: center;
	}
	.merit-carousel .ratings img {
		width: 100%;
	}

	.testimonials-data h1 {
		font-size: 2rem;
	}
	.testimonials-data h3 {
		font-size: 1.5rem;
	}

	.prev-slide-btn::before,
	.prev-slide-btn::after,
	.next-slide-btn::before,
	.next-slide-btn::after {
		height: 30px;
	}

	.prev-slide-btn::after,
	.next-slide-btn::after {
		margin-top: 24px;
	}

	#footer-section .all-links {
		/* flex-direction: column; */
	}

	#footer-section .footer-links {
		flex-direction: column;
		align-items: center;
	}
	#footer-section form {
		width: 100%;
	}
	.styling-image {
		height: 60px;
	}
	#footer-section .home a img {
		width: 150px;
	}
}
