input.form-control:focus,
input.form-control:active {
	outline: none;
	border-color: #cccccc;
	box-shadow: none;
}

.bg {
	background-color: #ff8021;
	color: white;
}

@media (min-width: 768px) {
	.custom-container {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (max-width: 768px) {
	.custom-container {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.jumb {
	background-image: url('../images/jumb-img.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 4rem;
	opacity: 0.9;
	/* background-attachment: fixed; */
}

.jumb-content {
	color: white;
	margin-top: 4rem;
}

.custom-container {
	margin-bottom: 3rem;
}

.footer-content {
	flex-direction: column;
}

.footer-content > div {
	margin-top: 1rem;
}

.products a {
	display: block;
}

.contact {
	margin-top: 0;
}

@media (min-width: 500px) {
	.footer-content {
		flex-direction: row;
	}
}

@media (min-width: 768px) {
	.navbar-nav .nav-link {
		color: #000;
	}
}

.mt-7 {
	margin-top: 4rem;
}
