/* add this */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
	/* height: 100%;
	width: 100%; */
}

/* navbar */

.navbar {
	background-color: whitesmoke;
}

.navbar-brand {
	padding: 0;
}

.navbar img {
	/* width: 1.8rem;
	height: 2rem; */
	margin-right: 0.3rem;
	padding-bottom: 0.3rem;
}

.navbar-light .navbar-nav .nav-link {
	color: black;
}

.navbar-collapse {
	justify-content: right;
}

.dropdown {
	margin: 0 0.5rem;
}

/* Cards */

.imaged img {
	border-radius: 50%;
}

.border-none {
	border: none !important;
}

/* Form */

@media (max-width: 991px) {
	.form-container {
		/* height: 1000px; */
	}
}

@media (min-width: 992px) {
	.form-container {
		/* height: 760px; */
	}
}

.form-container {
	position: relative;
	width: 100%;
	/* max-width: 1100px; */
	/* margin:20px; */
	/* height: 600px; */
	background: #29335c;
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.form-container .formBx {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-container .formBx form {
	position: relative;
	width: 100%;
	padding: 0 0 0 75px;
}

.form-container .formBx form h2 {
	color: #fff;
	font-size: 2em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 40px;
}

.form-container .formBx form .inputBox {
	position: relative;
	margin-bottom: 40px;
}

.form-container .formBx form .inputBox:last-child {
	margin-bottom: 0px;
}

.form-container .formBx form .inputBox textarea,
.form-container .formBx form .inputBox input {
	position: relative;
	background: transparent;
	outline: none;
	border: none;
	width: 100%;
	color: #fff;
	font-weight: 300;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	resize: none;
}

.form-container .formBx form .inputBox textarea {
	height: 100px;
}

.form-container .formBx form .inputBox input[type='submit'] {
	background: #fff;
	padding: 8px 20px;
	margin-top: -10px;
	width: 100px;
	cursor: pointer;
	background: #f3a712;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	border: none;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.form-container .formBx form .inputBox input[type='submit']:focus {
	background: #1bfaad;
	columns: #0f1d3c;
}

.form-container .formBx form .inputBox span {
	padding-left: 15px;
	position: absolute;
	left: 0;
	font-size: 16px;
	display: inline-block;
	pointer-events: none;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.5);
	transition: all 0.2s;
}

.form-container .formBx form .inputBox input:focus ~ span,
.form-container .formBx form .inputBox textarea:focus ~ span,
.form-container .formBx form .inputBox input:valid ~ span,
.form-container .formBx form .inputBox textarea:valid ~ span {
	transform: translateY(-24px);
	color: #1bfaad;
	font-size: 14px;
}

.form-container .formBx form .inputBox input:focus,
.form-container .formBx form .inputBox textarea:focus,
.form-container .formBx form .inputBox input:valid,
.form-container .formBx form .inputBox textarea:valid {
	border-bottom-color: #fff;
}

.form-container .imgBx {
	position: relative;
	width: 50%;
	/* height: 100%; */
	overflow: hidden;
}

.form-container .imgBx:before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f3a712;
	transform-origin: bottom;
	transform: skewX();
	transform: skewX(-25deg) translate(10%);
}

.form-container .imgBx img {
	position: absolute;
	bottom: 0;
	max-height: 95%;
}

@media (max-width: 991px) {
	.form-container .formBx {
		width: 100%;
		padding: 0 50px;
	}
	.container .formBx form {
		position: relative;
		width: 100%;
		/* max-width: 500px; */
		padding: 0;
	}
	.container .imgBx {
		display: none;
	}
}

/* Video Conferencing */

#video-conferencing {
	/* position: relative; */
	min-height: 80vh;
	width: 100%;
	padding: 3rem 3rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 2rem;
	/* background-attachment: fixed; */
}

#video-conferencing h2 {
	/* display: block; */
	width: 100%;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 400;
	margin-bottom: 3rem;
}

#video-conferencing .video-content {
	color: #000;
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1rem;
}

.video-content h4 {
	font-size: 1.6rem;
	font-weight: 300;
	margin-bottom: 10px;
}

.video-content h3 {
	font-size: 2.2rem;
	font-weight: 300;
	margin-bottom: 10px;
}

.video-content p {
	color: #777;
	font-size: 1.1rem;
	margin-bottom: 10px;
}

.video-content button {
	padding: 0.5rem 2rem;
	border-radius: 4px;
	border: 1px solid #ff8021;
	background-color: #ff8021;
	color: #fff;
	font-size: 1.2rem;
	width: fit-content;
	/* margin-bottom: 2rem; */
}

.video-image {
	width: 45%;
	display: flex;
	padding: 1rem;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.26);
}

.video-image img {
	border-radius: 0%;
	width: 100%;
	height: 100%;
}

/* Video Conferencing ends */

/* Footer */

#footer-section .styling-image {
	width: 100%;
	height: 110px;
	background-image: url('./img/footer.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#footer-section .home {
	padding: 1rem 3rem;
}

.footer-content {
	background-color: #ff8021;
	padding: 1rem;
}

#footer-section h5 {
	color: white;
	font-weight: 400;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.footer-content .all-links a {
	display: block;
	color: #fff;
	font-weight: 300;
	font-size: 1rem;
	margin-bottom: 12px;
	transition: all 0.2s ease;
}

#footer-section a:hover {
	text-decoration: none;
	color: #fff;
}

#footer-section .all-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0 1rem;
}

#footer-section .all-links > div {
	padding: 1rem;
	margin-right: 1rem;
}

#footer-section .home {
	background-color: #ff8021;
}

#footer-section .home a {
	display: inline-block;
	margin-top: 0;
}

#footer-section .home a img {
	width: 140px;
}

.all-links .contact-us img {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	padding-right: 5px;
}

.contact {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

#footer-section form {
	/* margin-top: 1rem; */
	width: 320px;
}

#footer-section form input,
#footer-section form textarea,
#footer-section form button {
	margin-bottom: 10px;
}

#footer-section form button {
	padding: 5px 16px;
	color: #ffffff;
	border: 1px solid #a52a2a9e;
	background-color: #a52a2a9e;
	border-radius: 1rem;
}

#footer-section hr {
	border-color: #fff;
	margin: 1rem;
}

#footer-section .footer-links {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
}

.footer-links > div {
	padding: 0rem 1rem;
}

.footer-links .social-media a {
	display: inline-block;
	margin: 0px 12px 12px 0px;
}

.footer-links .social-media img {
	width: 36px;
	height: 36px;
}

.copyright {
	background-color: #ff8021;
}

.copyright p {
	color: white;
	text-align: center;
	margin-bottom: 0;
	padding: 10px;
}

.copyright p:first-of-type {
	padding-bottom: 0;
	font-weight: 500;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
	#start-free-trial {
		flex-direction: column;
		align-items: center;
	}
	#start-free-trial .trial-content {
		width: 100%;
		text-align: center;
	}
	.carousel-content p {
		width: 70%;
		font-size: 1.2rem;
	}

	/* Video Conferencing */

	#video-conferencing .video-content {
		width: 80%;
		margin: 0 auto;
		align-items: center;
		text-align: center;
	}

	#video-conferencing .video-image {
		width: 80%;
		margin: 2rem auto 1rem auto;
	}

	/* Video Conferencing ends */
}

@media (max-width: 576px) {
	.carousel-content p {
		width: 100%;
		font-size: 1rem;
		text-align: center;
	}
	.carousel-content small {
		float: right;
	}
	.prev-slide-btn::before,
	.prev-slide-btn::after,
	.next-slide-btn::before,
	.next-slide-btn::after {
		height: 30px;
	}
	.prev-slide-btn::after,
	.next-slide-btn::after {
		margin-top: 24px;
	}
	#footer-section .all-links {
		flex-direction: column;
	}
	#footer-section .footer-links {
		flex-direction: column;
		align-items: center;
	}
	#footer-section form {
		width: 100%;
	}

	#video-conferencing .video-content {
		width: 100%;
		margin: 0 auto;
	}
	#video-conferencing .video-image {
		width: 100%;
	}
}
